.candidateLogin {
  min-height: 100vh;
  margin: 0 auto;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;

  &-card {
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px #959595;

    &_inputs {
      width: 50%;
      display: grid;
      grid-template-columns: 40px 40x;
      grid-template-rows: repeat(6, 1fr);
    }
    &_img {
      width: 50%;
      background-image: url(../../assets/img/login-side_img.png);
      background-size: cover;
      height: 80vh;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
}
