.jobCato {
  background: #f8fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 60px;

  &-head {
    text-align: center;

    p {
      font-size: 16px;
      width: 60%;
      margin: 0 auto;
      color: rgba(116, 116, 116, 1);
    }
  }

  &-elems {
    margin: 20px auto;
    margin-top: 40px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}
