.hero {
  background: linear-gradient(
      90deg,
      rgba(146, 146, 4, 0.5) 0%,
      rgba(41, 41, 8, 0.6) 35%
    ),
    url(../../assets/img/banner.jpg);
  height: calc(100vh - 70px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  &-heading {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
  }

  &-keyword {
    display: flex;

    p {
      margin-right: 4px;
    }
  }
  &-list {
    display: flex;
    justify-content: space-around;
    li {
      background-color: rgba(#02aff1, 0.4);
      //   background-color: rgba(rgb(2, 177, 29), 0.6);
      padding: 2px 10px;
      margin: 0px 4px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(#02aff1, 1);
      }
    }
  }
}
