.btn {
  &-green {
    border-radius: 4px;
    margin: 20px auto;
    background-color: transparent;
    border: 2px solid #26ae61;
    transition: 0.4s all ease-in-out;
    padding: 6px 20px;

    &:hover {
      background-color: #26ae61;
      color: #fff;
    }
  }
}
